@import "tailwindcss";

:root {
  --background: #f1f8f6;
  --foreground: #1e3932;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-coffee-green: #006241;
  --color-coffee-dark: #1e3932;
  --color-coffee-light: #d4e9e2;
  --color-coffee-cream: #f1f8f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
